:root {
    --color-white: #fff;
    --greensea_old: rgb(0, 83, 116);
    --greensea: #008289;
    --orangepet: #fe7c2e;
    --purple-50: #7c3aed;
    --gray: #9c9c9c;
    --purple-100: #a855f7;
    --purple-base: #51009c;
    --dark-100: #000000;
    --gradient: linear-gradient(90deg, var(--purple-50), var(--purple-100));
  

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

#container {
    height: 100vh;
    background: var(--greensea);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-position: center;
    background-size: cover;  
   

}

#form-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-header h1 {
    font-size: 1.7rem;
    position: relative;
    color: var(--orangepet)
}


#login-form {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 18px;
    border: 2px solid rgba(255,235,200, 0.56);
    gap: 24px;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.336);
    height: fit-content;
}

#social-media i {
    width: 55px;
}

#social-media {
    display: flex;
    justify-content: space-around;
}


#inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.input-box label {
    font-size: 13px;
    color: var(--gray);
}

.input-field {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    cursor: text;
    border-bottom: 1px solid var(--gray);
}

.input-field i {
    font-size: 14px;
    color: var(--gray);
}


.input-field input {
   border: none;
   background-color: transparent;
   width: 240px;
   outline: none; 
   font-size: 16px;
   padding: 0px 5px;
   color: var(--gray);
}


#login-button {
    border: none;
    background: var(--greensea);
    color: var(--color-white);
    padding: 7px;
    font-size: 17px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 600;

}



@media (max-width: 980px)  {


    #login-form {
      width: 83%;
    }
    

}